<form class="from-holder" (ngSubmit)="addItem(); createForm.reset()" [formGroup]="createForm">

  <validate-field [inputField]="createForm.get('content')"
                  [inputErrors]="createForm.get('content').errors" [errorDefs]="validationMessages">
    <div class="form-group">

      <input class="input-group-text" type="text" placeholder="Write here" formControlName="content">
      <button type="submit" class="input-group-submit" [disabled]="!createForm.valid">
        <i class="fa fa-plus"></i>
      </button>

    </div>
  </validate-field>

  <span class="has-error" *ngIf="serverError">{{ serverError }}</span>

</form>
