<form class="from-holder" (ngSubmit)="addItem(); createForm.reset()" [formGroup]="createForm">

  <validate-field [inputField]="createForm.get('content')"
                  [inputErrors]="createForm.get('content').errors" [errorDefs]="validationMessages">

    <div class="form-group">
      <input class="input-group" type="text" placeholder="Write here" formControlName="content">
      <input class="input-group" type="submit" value="+" [disabled]="!createForm.valid">
    </div>

  </validate-field>

  <span *ngIf="serverError">{{ serverError }}</span>

</form>
